.card{
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#mboLogo{
    position: relative;
    top: 3.05rem;
    transform: translateX(-50%);
    left: 50%;
    background-color: #999999;
    border-radius: 0 0 10px 10px ;
    border-top: 1px solid white;
    width: 14em;
    margin-bottom: 50px;
}
.link_mbo{
    position: absolute;
    right: 2em;
}
.link_mbo a{
    margin: 1em;
}
.mbo_course{
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #9f0b0f;
    margin-left: 1em;
}
 

.borders{
    border: #9f0b0f 1px solid;
    border-radius: .5em;
    box-shadow: 2px 2px 0 #9f0b00;
    height: 100%;
    transform: translateY(30vh);
}
.mbo_main{
    border: black 2px solid;
}

.mbo_main .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-group{
}

.list-group-item{
    background: linear-gradient( to right, #8aa7ec, #999999);
    color: white;
}
.list-group-item:hover{
    transition: all .4s;
}

.list-group .active{
    background-color: whitesmoke;
    color: black;
    border: #9f0b0f solid .5px;
    transform: translateX(1em);
    border-radius: 0 8px 8px 0;
}

.price_cards{
    margin-top: 30px;
    padding: 15px;
    border: 1px solid red;
    display: flex;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.price_cards h3{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #1f1e1f;
    /* background: linear-gradient( to right, #8aa7ec, #999999); */
    background: linear-gradient( to right, #2aa7fc, #aec1ff);

}
.price_cards .btn-primary{
    max-width: 85%;
    transform:translateX(5%);
}
.text-white{
    max-width: 16rem;
}
.mb-3{
     margin: 15px 10px;
     border-radius: 10px;
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 1024px) {
    .borders{
        height: 100%;
        position: relative;
        transform: translateY(100px);
        border: black solid 2px ;
    }
    .text-white{
        max-width: 16rem;
        margin: 20px 30px;
    }

   
}

